/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home__wrapper {
  background: #6177e6;
  width: 100%;
  height: 100vh;
}

.home__wrapper .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home__wrapper .home__background-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  z-index: 0;
}

.home__wrapper .home a,
.home__wrapper .home h1,
.home__wrapper .home h2,
.home__wrapper .home span,
.home__wrapper .home button {
  color: #e8e8e8;
}

.home__wrapper .home__container {
  z-index: 1;
  width: 100%;
  height: 79.31%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__wrapper .home__container__title {
  width: 44.260%;
  min-width: 492px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 200px;
}

.home__wrapper .home__container__title h1,
.home__wrapper .home__container__title span,
.home__wrapper .home__container__title button {
  font-size: 28px;
}

.home__wrapper .home__container__title h1 {
  font-size: 60px;
}

.home__wrapper .home__container__title span {
  letter-spacing: 0.05em;
}

.home__wrapper .home__container__title button {
  width: 245px;
  height: 58px;
  background: none;
  border: 2px solid #e8e8e8;
}

.home__wrapper .home__container__title button:hover {
  background: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

.home__wrapper .home__container__contacts {
  width: 66.625%;
  margin: 0 auto;
}

.home__wrapper .home__container__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__wrapper .home__container__contacts ul li {
  width: 33.333%;
  min-width: 197px;
  min-height: 55px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.home__wrapper .home__container__contacts ul li h2 {
  text-transform: uppercase;
  text-align: center;
}

.home__wrapper .home__container__contacts ul li:hover a {
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

header {
  width: 48.49%;
  min-width: 515px;
  margin: 0 auto;
}

header nav ul {
  background: #7c92ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  width: 25%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #7c92ff;
}

header nav ul li a {
  text-transform: uppercase;
  font-size: 21px;
}

header nav ul li a svg {
  display: none;
}

header nav ul li:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

body h2,
a,
p,
span {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: Georgia, serif;
}

._container {
  width: 83.3333333%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  body .home__wrapper .home .home__background-img picture {
    max-width: 150px;
  }

  body .home__wrapper .home .home__background-img picture img {
    width: 100%;
    max-width: 150px;
  }

  body .home__wrapper .home .home__container .home__container__contacts {
    width: 80%;
  }
}

@media (max-width: 1023px) {
  body .home__wrapper .home .home__container .home__container__title {
    min-width: 422px;
  }

  body .home__wrapper .home .home__container .home__container__title h1 {
    font-size: 52px;
  }

  body .home__wrapper .home .home__container .home__container__title span,
  body .home__wrapper .home .home__container .home__container__title button {
    font-size: 24px;
  }
}

@media (max-width: 920px) {
  body .home__wrapper .home .home__background-img {
    display: none;
  }
}

@media (max-width: 890px) {
  body .home__wrapper .home .home__container .home__container__contacts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
  }

  body .home__wrapper .home .home__container .home__container__contacts ul li {
    min-height: 45px;
  }
}

@media (max-width: 635px) {
  body .home__wrapper .home .home__container header {
    width: 100%;
    min-width: 200px;
  }

  body .home__wrapper .home .home__container header nav ul li {
    height: 60px;
  }

  body .home__wrapper .home .home__container header nav ul li a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  body .home__wrapper .home .home__container header nav ul li a svg {
    display: block;
    width: 100%;
    height: 55%;
    fill: #fff;
  }

  body .home__wrapper .home .home__container header nav ul li a span {
    display: none;
  }
}

@media (max-width: 520px) {
  body {
    min-width: 380px;
  }

  body .home__wrapper .home .home__container .home__container__title {
    min-width: 316px;
    min-height: 150px;
  }

  body .home__wrapper .home .home__container .home__container__title h1 {
    font-size: 42px;
  }

  body .home__wrapper .home .home__container .home__container__title span,
  body .home__wrapper .home .home__container .home__container__title button {
    font-size: 18px;
  }

  body .home__wrapper .home .home__container .home__container__title button {
    margin-top: 20px;
  }
}